

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ViewLayout.cshtml";
}





<div class="page-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pull-left"><div class="page-in-name">Şirketimiz Hakkında</div></div>
            <div class="col-lg-6 pull-right"><div class="page-in-bread"><span>Şu anda buradasınız:</span> <a href="#">Hakkımızda</a></div></div>
        </div>
    </div>
</div>
<div class="container marg75">
    <div class="row">
        <div class="col-lg-12">
            <div class="promo-block">
                <div class="promo-text">Kısaca Hakkımızda</div>
                <div class="center-line"></div>
            </div>
            <div class="promo-paragraph">BEEKOD, mükemmel tasarım ve uygulamalarla sizi geleceğe taşıyan bir firmadır. İhtiyacınıza uygun dijital çözümler BEEKOD ile sizi bir adım ileriye taşır</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 marg50">
            <div class="introduction">
                <img src="~/Content/sitetemplate/assets/images/team.png">
                <div class="intro-name">Biz Kimiz ?</div>
                <div class="intro-desc">Tecrübeli ve dinamik kadrosu ile çözüm ortaklarımıza ihtiyaç duyduğu hizmeti sunan bir ekibiz. </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 marg50">
            <div class="introduction">
                <img src="~/Content/sitetemplate/assets/images/train.png">
                <div class="intro-name">Biz Ne Yapıyoruz?</div>
                <div class="intro-desc">Uygun fiyat yüksek fayda ile müşterilerimizin ihtiyaç duyduğu E-Ticaret sitelerini sunuyoruz.</div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 marg50">
            <div class="introduction">
                <img src="~/Content/sitetemplate/assets/images/office.png">
                <div class="intro-name">Neler yapabiliriz?</div>
                <div class="intro-desc">Benzersiz tasarımlar ile web safanızı tasarlayabilir. E-Ticaret altyapımız ile bütün pazaryerlerine entegre olarak satışlarınızı arttırmanıza destek verebiliriz.</div>
            </div>
        </div>
    </div>
</div>
<div class="container-color marg75">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-block">
                    <div class="promo-text">İlgiçekici İstatistikler</div>
                    <div class="center-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container marg50">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="fact-icon"><i class="icon-thumbs-up"></i></div>
                <div class="fact-numb">357</div>
                <div class="fact-name">Mutlu Müşteriler</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="fact-icon"><i class="icon-diamond"></i></div>
                <div class="fact-numb">477</div>
                <div class="fact-name">Başarılı Proje</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="fact-icon"><i class="icon-mail"></i></div>
                <div class="fact-numb">899</div>
                <div class="fact-name">Yılların Deneyimi</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="fact-icon"><i class="icon-cup"></i></div>
                <div class="fact-numb">726</div>
                <div class="fact-name">Başarılar</div>
            </div>
        </div>
    </div>
</div>