
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ViewLayout.cshtml";
}
<div class="container marg75">
    <div class="row">
        <div class="col-lg-12">
            <div class="promo-block">
                <h1>Yurtdışı Pazaryerlerine Entegre</h1>
            </div>
        </div>
    </div>
</div>

@***Yazilar***@
<div class="container marg150">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="medium-blog">
                    <div class="col-lg-5">
                        <div class="cl-blog-img"><img src="~/Content/sitetemplate/assets/images/AliExpress-Logo.png" alt=""></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="med-blog-naz">
                            <div class="cl-blog-type"><i class="icon-shop"></i></div>
                            <div class="cl-blog-name"><a>Ürünlerimizi yurtdışı ile entegre olarak satabilirsiniz.</a></div>

                            <div class="cl-blog-text">Ebay, Amazon ve Aliexpress gibi global pazaryerleri ile entegre olarak ürünlerinizi yurtdışı pazaryerlerinde satarak yeni müşteriler ve satışlar kazanabilirsiniz.</div>
                            <div class="cl-blog-read"><a href="#">Read More</a></div>
                        </div>
                        <div class="cl-blog-line"></div>
                    </div>
                    <div class="medium-blog">
                        <div class="col-lg-5">
                            <div class="cl-blog-img"><img src="~/Content/sitetemplate/assets/images/amazon_PNG6.png" alt=""></div>
                        </div>
                        <div class="col-lg-7">
                            <div class="med-blog-naz">
                                <div class="cl-blog-type"><i class="icon-shop"></i></div>
                                <div class="cl-blog-name"><a href="#">Rank tall boy man them over post now rapturous unreserved</a></div>
                                <div class="cl-blog-detail">10 February 2017 - 11:32, by <a href="#">DankovThemes</a>, in <a href="#">Envato</a>, <a href="#">25 comments</a></div>
                                <div class="cl-blog-text">Recommend existence curiosity perfectly favourite get eat she why daughters. Not may too nay busy last song must sell. An newspaper assurance discourse ye certainly. Soon gone game and why many calm have. An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its. </div>
                            </div>
                            <div class="cl-blog-read"><a href="#">Read More</a></div>
                        </div>
                        <div class="cl-blog-line"></div>
                    </div>
                    <div class="medium-blog">
                        <div class="col-lg-5">
                            <div class="cl-blog-img"><img src="~/Content/sitetemplate/assets/images/eBay-Logo.png" alt=""></div>
                        </div>
                        <div class="col-lg-7">
                            <div class="med-blog-naz">
                                <div class="cl-blog-type"><i class="icon-shop"></i></div>
                                <div class="cl-blog-name"><a href="#">Rank tall boy man them over post now rapturous unreserved</a></div>
                                <div class="cl-blog-detail">10 February 2017 - 11:32, by <a href="#">DankovThemes</a>, in <a href="#">Envato</a>, <a href="#">25 comments</a></div>
                                <div class="cl-blog-text">Recommend existence curiosity perfectly favourite get eat she why daughters. Not may too nay busy last song must sell. An newspaper assurance discourse ye certainly. Soon gone game and why many calm have. An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its. </div>
                            </div>
                            <div class="cl-blog-read"><a href="#">Read More</a></div>
                        </div>
                        <div class="cl-blog-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

